h1 {
    font-size: 4em;
}

.star-wars-font {
    line-height: 10%;
}

.gif-container {
    margin: auto;
}

.subtitle {
    margin-top: 25px;
}

.topic-btn {
    display: inline;
}

.gif-box {
    display: inline;
    float: left;
    align-content: space-between;
}

.rating {
    display: inline-block;
    clear: both;
    margin-right: 1em;
}

.download-btn {
    display: inline;
}