body {
    background-image: url("images/vader.jpg");
}

h1 {
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #000;
    text-shadow: 
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.star-wars-font {
    line-height: 10%;
}

.gif-container {
    margin: auto;
}

.subtitle {
    margin-top: 25px;
    font-weight: bold;
    color: #fff;
}

.label-text {
    font-weight: bold;
    color: #fff;
}

/* Class to override col's 100% width */
.drop-width {
    width: auto;
}

.form-inline {
    flex-flow: row;
}

.topic-btn {
    display: inline-block;
    margin-top: 2em;
    align-content: space-around;
    justify-content: center;
    width: auto;
    padding-right: 0px;
}

.gif-box {
    display: inline;
    float: left;
    align-content: space-between;
    margin-top: 1em;
}

.rating {
    display: inline-block;
    clear: both;
    margin-right: 1em;
    font-weight: bold;
    color: #fff;
}

.download-btn {
    display: inline;
}

@media screen and (max-width: 992px) {
    .topic-btn {
        margin-inline-start: 0.5em;
    }
}

/* Mobile view style-specific */
@media screen and (max-width: 576px) {
    .topic-btn {
        margin-inline-start: 0;
    }
}